body{
    margin:0 auto;
    background-image: url(imagini/transp.png),url(imagini/transp.png),linear-gradient(to right, #00261C, #044C29, #00261C);
    background-size:0%,0%,cover;
	background-repeat:repeat-y,repeat-y,repeat-y;
	background-position:5%,95%,0%;
    background-attachment:auto,auto,fixed;
	transition:1s ease-in-out;
    overflow-x:hidden;
    overflow-y:hidden;
}
@font-face{
	font-family:geometria;
	src:url(fonts/geometria.woff)
}
@font-face{
	font-family:museo;
	src:url(fonts/museo500.woff)
}
@font-face{
	font-family:bebasthin;
	src:url(fonts/BebasNeue-Thin.woff)
}
@font-face{
	font-family:bebasbook;
	src:url(fonts/BebasNeue-Book.woff)
}
@font-face{
	font-family:bebasbold;
	src:url(fonts/BebasNeue-Bold.woff)
}
@font-face{
	font-family:bebaslight;
	src:url(fonts/BebasNeue-Light.woff)
}
@font-face{
	font-family:bebasregular;
	src:url(fonts/BebasNeue-Regular.woff)
}
@font-face {
    font-family:hattori_hanzolight;
    src:url(fonts/Hattori_Hanzo-webfont.woff)

}
#buddy_cont{
    position:fixed;
    left:-97vh;
    top:20%;
    z-index: 100;
    opacity: 1;
    transition:0.5s all;
}

#buddy_imagine{
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    height: 25vh;
    width:25vh;
    transition:1s all;
    
}
#buddy_corp{
    position:absolute;
    background-color:rgba(0,0,0,0);    
    background-image:url(imagini/buddy_corp.png); 
    height: inherit;
    width: inherit;
}
#buddy_ochi{
    position:relative;
    height: 20%;
    width: 20%;
    border-radius:50%;
    background-color:red;
    top:50%;
    transform:translateY(-50%) scale(1,1);
    margin-left:40%;
    box-shadow:0px 0px 10px black;
    transition:0.3s all;
}
#buddy_chat{
    display:inline-block;
    vertical-align: middle;
    width:70vh;
    background-size:cover;
    background-image:url(imagini/buddy_chat.png);
    box-shadow:0px 0px 15px black;
    border-radius:10%;
    padding-top:5vh;
    padding-bottom: 5vh;
}
#buddy_arrow{
    display:inline-block;
    vertical-align: middle;
    height:20vh;
    width:20vh;
    background-size:contain;
    background-image:url(imagini/buddy_arrow.png);
    border-radius:50%;
    cursor:pointer;
    opacity:0;
    transition:0.3s all;
}
.buddy_optiune{
    display:block;
    color:white;
    font-family: greenscreen;
    text-decoration: none;
    text-align: center;
    font-size:5vh;
    margin:1vh;
    transition:0.5s all;
}
.buddy_optiune:hover{
    color:orange;
    background-color:rgba(0,0,0,0.5);
}
@font-face{
	font-family:greenscreen;
	src:url(fonts/greenscreen.woff)
}
ul{	position:fixed;
	width:100%;
	background:#00261C;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
	font-family:bebasregular;
	box-shadow:0 0px 3px #97ED8A;
	z-index:5;
	white-space: nowrap;	
	border-bottom:3px solid #97ED8A;
	opacity:0;
	display:block;
	list-style-type: none;
    transition:1s all;
}
li{	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
    display: inline-block;
     text-align: center;
	color:#00261C;
	transition:0.3s;
	float:left;
}
li:hover{
	background-color:#97ED8A;
	cursor:pointer;
    color:white;
}
li:nth-child(2){
		background-color:#97ED8A;
        color:white;
}
li:nth-child(5){
    background-image: url(imagini/FIZ_X2.png);
    background-color:Rgba(0,0,0,0);
    float:right;
    margin-right: 25px;
    vertical-align: middle;
}
.link{
	text-decoration: none;
	color:#97ED8A;
    transition:0.3s;
}
.link:hover{
        
        color:white;
}
.link:nth-child(2){
		background-color:#00261C;
        color:#00261C;
}
strong{
    color:lime;
    text-shadow:0px 0px 3px green;
}

blue{
    color:#00fff0;
    text-shadow:0px 0px 3px #00fff0;

}
green{
    color:#1fed00;
    text-shadow:0px 0px 3px #1fed00;

}
red{
    color:orange;
    text-shadow:0px 0px 3px #ff0000;

}
orange{
    color:orange;
    text-shadow:0px 0px 10px black;

}
magenta{
    color:magenta;
    text-shadow:0px 0px 3px magenta;  
}
yellow{
    color:yellow;
    text-shadow:0px 0px 3px yellow;  
}
.header{
    color:#97ED8A;
    font-family: bebasbold;
    position:relative;
    transition:1s ease-out;
    opacity:1;
    margin-left: auto;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}
.bara{
    width:50%;
    margin:0 auto;
    border:1px solid #97ED8A;
    opacity:1;
    transition:1s all;
}
.titlu{
    position:relative;
    display:block;
    margin:0 auto;
    text-align: center;
    font-family: bebasbold;
    color:black;
    background:linear-gradient(to bottom, #97ED8A 0%,#3f9632 100%);
    box-shadow:0px 0px 15px black;

}
.text{
    display:block;
    color:white;
    font-family: geometria;
    text-shadow:0px 0px 5px black;
    background: rgba(0,0,0,0.5);
    text-align: center;
    margin: 0 auto;
    box-shadow:0px 0px 15px black;
}
.imagine{
    position:relative;
    background-color:rgba(0,0,0,0.5);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.forte{
    display: block;
    position: relative;
    background:linear-gradient(to bottom, #97ED8A 0%,#3f9632 100%);
    font-family: bebasbold;
    color:black;
    vertical-align: middle;
    box-shadow:0px 0px 15px black;
    text-align: center;
    cursor:pointer;
}

#def_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}
#intro1{
    background-color:rgba(0,0,0,0);
    background-image:url(imagini/energie_intro1.png);
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    transition:1s ease-in;
    margin-top:1000px;
}
#intro2{
    background-color:rgba(0,0,0,0);
    background-image:url(imagini/energie_intro2.png);
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    transition:1s ease-in;
    margin-top:-1000px;
}
#def_header{
    opacity:0;
    transition:0.5s all;
}
#bara0{
    opacity:0;
    transition:0.5s all;
}
#def_cont{
    opacity:0;
    transition:0.5s all;
}
#def_formula{
    opacity:0;
    transition:0.5s all;
}
#def_si{
    opacity:0;
    transition:0.5s all;
}
#prop_header{
    opacity:0;
    transition:0.5s all;
}
#bara1{
    opacity:0;
    transition:0.5s all;
}
#addf_cont{
    opacity:0;
    transition:0.5s all;
}
#addd_cont{
    opacity:0;
    transition:0.5s all;
}
#def_text{
    background-color: rgba(0,0,0,0);
}
#def_formula_cont{
    display:inline-block;
    vertical-align: middle;
}
#def_formula{
    border-radius:50%;
    box-shadow:0px 0px 15px black;
    display:block;
    background-image: url(imagini/def_formula.png);
    background-color: #98EF8E;
}
#def_si{
    border-radius:50%;
    box-shadow:0px 0px 15px black;
    display:block;
    background-image: url(imagini/def_si.png);
    background-color: #98EF8E;
}

#addf_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}

#addf_text{
    background-color: rgba(0, 0, 0, 0);
}

#addd_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}

#addd_text{
    background-color: rgba(0, 0, 0, 0);
}

#lm_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    box-shadow:0px 0px 10px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#lm_text{
    background-color: rgba(0, 0, 0, 0.5);
    display:inline-block;
    vertical-align: middle;
    float: left;
    box-shadow:0px 0px 0px black;
    transition:0.5s all;

}
#lm_img{
    background-color: rgba(0, 0, 0, 0.5);
    display:inline-block;
    vertical-align: middle;
    float: left;
    box-shadow:0px 0px 0px black;
    border-bottom-left-radius: 50px;
    background-image:url(imagini/L_g_formula.png);
    transition:0.5s all;
}
#forte_cont{
    display:inline-block;
    vertical-align: middle;
    float: left;
    box-shadow:0px 0px 0px black;

}
.forte:nth-child(1){
    border-top-right-radius: 10px;
}
.forte:nth-child(3){
    border-bottom-right-radius: 10px;
}
#cons_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}

#cons_text{
    background-color: rgba(0,0,0,0);
}

#dis_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}

#cons_text{
    background-color: rgba(0,0,0,0);
}

#dis_text{
    background-color: rgba(0, 0, 0, 0);
}

#grafic_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
}

#grafic_text{
    background-color: rgba(0, 0, 0, 0);
}

#grafic_formula{
    background-image: url(imagini/ecu4.png);
    background-color: rgba(0, 0, 0, 0);
}

#img_cont{
    transition:1s all;
    opacity:1;
    display:inline-block;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:50%;
    box-shadow:0px 0px 15px black;
}

#img_gr{
    background-image: url(imagini/L_arie_img.png);
    background-color: rgba(0, 0, 0, 0);
}
#energie_desc_cont{
    vertical-align: middle;
    display:inline-block;
}
#energie_mec_formula{
    vertical-align: middle;
    display:inline-block;
    background-color:rgba(0,0,0,0);
    background-image:url(imagini/energie_mec_formula.png);
}
#en_cin_desc{
    vertical-align: middle;
    display:inline-block;
}
#en_cin_var_cont{
    vertical-align: middle;
    display:inline-block;
}
#en_cin_formula{
    background-image:url(imagini/energie_cin_formula.png);
}
#en_cin_var_img{
    background-image:url(imagini/en_cin_var_formula.png);
}
#en_cin_var_text{
    box-shadow:0px 0px 0px black;
}
#en_cin_text{
    box-shadow:0px 0px 0px black;
}
#en_cin_desc{
    box-shadow:0px 0px 10px black;
}
#en_cin_var_cont{
    box-shadow:0px 0px 10px black;
}
#ec_pot_desc{
    box-shadow:0px 0px 10px black;
}
#ec_pot_formula{
    background-image:url(imagini/en_pot_formula.png);
    box-shadow:0px 0px 0px black;
}
#ec_pot_titlu{
    box-shadow:0px 0px 0px black;
}
#ec_pot_text{
    box-shadow:0px 0px 0px black;
}
#ep_g{
    background-image:url(imagini/epg_formula.png);
    border-radius:50%;
    box-shadow:0px 0px 10px black;

}
#ep_el{
    background-image:url(imagini/epel_formula.png);
    border-radius:50%;
    box-shadow:0px 0px 10px black;
}
#ec_pot_desc{
    vertical-align: middle;
    display:inline-block;
}
#ep_imag_cont{
    vertical-align: middle;
    display:inline-block;
}